ul {
  list-style: none;
}
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
body {
  background-color: #0e0e0e;
  overflow-x: hidden;
  height: 100vh;
}
a {
  text-decoration: none;
}
.container {
  background-image: url(../images/desktop/noise-desktop.svg);
  background-size: contain;
}
.background {
  height: 100%;
  background-image: url(../images/mobile/bg-body-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/bg-body-tablet.svg);
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/noise-desktop.svg),
      url(../images/desktop/bg-body-desktop.svg);
    background-size: cover;
  }

  @media screen and (min-width: 1500px) {
    background-size: contain;
  }
}
