ul {
  list-style: none;
}
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
body {
  // background-image: url(../images/desktop/decor.svg);
  // background-repeat: no-repeat;
  // background-position: 115px 30px;
  // background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}
a {
  text-decoration: none;
}
