@import './utils/fonts';
@import './utils/variables';

@import './base/common';
@import './components/btn-back-to-top';
@import './components/header';
@import './components/spinner';
@import './components/main-part';
@import './components/search-input';
@import './components/singleCard';
@import './components/pagination';
@import './components/modal';
@import './components/footer';
