@import './utils/fonts';
@import './utils/variables';

@import './base/common';
@import './components/header';
@import './components/main-part';
@import './components/_search-input';
@import './components/singleCard';
@import './components/pagination';
@import './components/footer';
