<div class="card" id="card" data-id="{{id}}">
    <div class="image-container">
        <img class="event-image" src={{#with images}}{{[5].url}}{{/with}} alt="temp">
    </div>
    <h2 class="event-title">{{name}}</h2>
    <p class="event-data">{{dates.start.localDate}}</p>
    <p class="event-location"> {{#with _embedded.venues}}
        {{#if [0].name}}
        {{[0].name}}
        {{else}}
        Unknown place
        {{/if}}
        {{/with}}</p>
</div>