<div class="card">
    <img class="event-image" src="./images/temporary-image.png" alt="temp">
    <h2 class="event-title">Eurovision 2021 finals!</h2>
    <p class="event-data">data</p>
    <p class="event-location">Palace of Ukraine</p>
</div>