{{!-- заменить на шаблон карточки --}}
<div class="card">
    <img class="event-image" src="./images/unnamed.png" alt="temp">
    <h2 class="event-title">Tile</h2>
    <p class="event-data">222</p>
    <p class="event-location">333</p>
</div>