<select class="country-list" name="country">
    <option value="">Choose country</option>
    <option value="country">country1</option>
    <option value="country">country2</option>
    <option value="country">country3</option>
    <option value="country">country4</option>
    <option value="country">country5</option>
</select>