<img class="modal-event-icon" src="{{#with images}}{{[9].url}}{{/with}}" width="132px" height="132px" />
<div class="modal-event-data">
    <img class="modal-poster" width="360px" height="641px" />
    <ul class="modal-event-data-list">
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">INFO</h3>
            <p class="modal-data-item-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                quia, blanditiis corrupti, itaque unde
            </p>
        </li>
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">WHEN</h3>
            <p class="modal-data-item-text date">Lorem ipsum dolor sit</p>
            <p class="modal-data-item-text">Lorem ipsum dolor sit</p>
        </li>
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">WHERE</h3>
            <p class="modal-data-item-text Ñity-country">
                Lorem ipsum dolor sit
            </p>
            <p class="modal-data-item-text">Lorem ipsum dolor sit</p>
        </li>
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">WHO</h3>
            <p class="modal-data-item-text">Lorem ipsum dolor</p>
        </li>
        <ul class="modal-event-data-list">
            <li>
                <h3 class="modal-data-item-title">PRICES</h3>
            </li>
            <li class="modal-data-item">
                <p class="modal-data-item-text price">
                    <span>
                        <svg class="modal-price-barcode">
                            <use href="./images/symbol-defs.svg#barcode"></use>
                        </svg>
                    </span>
                    Lorem ipsum dolor sit
                </p>
            </li>
            <li class="modal-data-item btn-tickets">
                <button class="modal-btn-buy-tickets">BUY TICKETS</button>
            </li>
            <li class="modal-data-item">
                <p class="modal-data-item-text price">
                    <span>
                        <svg width="29px" height="19px" class="modal-price-barcode">
                            <use href="./images/symbol-defs.svg#barcode"></use>
                        </svg>
                    </span>
                    Lorem ipsum dolor sit
                </p>
            </li>
            <li class="modal-data-item">
                <button class="modal-btn-buy-tickets btn-tickets">
                    BUY TICKETS
                </button>
            </li>
        </ul>
    </ul>
</div>
<button class="modal-author-btn">MORE FROM THIS AUTHOR</button>