<div class="pagination">
    <ul class="pagination-list">
        <li class="pagination-item pagination-item__active">1</li>
        <li class="pagination-item">3</li>
        <li class="pagination-item">2</li>
        <li class="pagination-item">4</li>
        <li class="pagination-item">5</li>
        <li class="pagination-item">...</li>
        <li class="pagination-item">29</li>
    </ul>
</div>