
    <div class="wrapper">

    <input class="wrapper__input  search-js" type="text" name="search" placeholder="Start searching">
    
    <button  class="wrapper__search-btn" type="submit">
    </button>
    
    </div>
