<form class="search-form">
    <input class="search-form__input" type="text" placeholder="Start searching">
    <img class="search-form__input-icon" src="./images/search-icon.svg" alt="search-icon">
</form>