
    <div class="wrapper">

    <input class="wrapper__input" type="text" name="search" placeholder="Start searching">
    
    <button hidden class="wrapper__search-btn" type="submit">
        <img class="wrapper__search-btn-icon" src="../images/search-icon.svg" alt="">
    </button>
    
    </div>
