<div class="spinner">
    <div class="spinner-container animate__animated animate__pulse">
        <img src="./images/logo-spinner.svg" class="spinner-icon" alt="logo" />
    </div>
    <div class="dot-pulse"></div>
</div>