<div class="spinner">
    <div class="spinner-container animate__animated animate__pulse">
        <svg class="spinner-icon">
            <use href="./images/logo-spinner.svg#icon-logo"></use>
        </svg>
    </div>
    <div class="dot-pulse"></div>
</div>