.container {
  @media screen and (max-width: 767px) {
    height: 4100px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 3546px;
  }

  @media screen and (min-width: 1280px) {
    height: 2940px;
  }
}

.bg-tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50.2%, -105%);
    width: 598px;
    height: 100%;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.bg-desctop {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -107.7%);
    width: 1050px;
    height: 100%;
  }
}

.main-background {
  padding-top: 20px;
  background-color: rgba(14, 14, 14, 1);
  background-image: url(../images/mobile/bg-main.svg);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../images/tablet/bg-main.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 0;
    background-image: url(../images/desktop/bg-main.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
