.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  background: #ff9a01;
  color: rgb(2, 252, 23);
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}
