.footer {
  padding: 60px 34px 27px 34px;

  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: $form-text-color;

  @media screen and (min-width: 768px) {
    padding: 60px 0 18px 0;
    font-size: 16px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1280px) {
    padding: 80px 0 19px 0;
  }
}

.footer__red-heart {
  color: red;
  animation: heartbeat 1s infinite;
  display: inline-block;
  margin: 0 5px;

  @keyframes heartbeat {
    0% {
      transform: scale(1) rotate(0deg);
    }
    20% {
      transform: scale(1.25) rotate(0deg);
    }
    40% {
      transform: scale(1.5) rotate(0deg);
    }

    60% {
      transform: scale(1.25) rotate(0deg);
    }

    80% {
      transform: scale(1) rotate(0deg);
    }
  }
}
