.header {
  padding-top: 78px;
  height: 304px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    height: 387px;
  }
}

.logo {
  position: absolute;

  width: 106px;
  height: 90px;
  left: 3px;
  top: 3px;

  @media screen and (min-width: 768px) {
    width: 179px;
    height: 151px;
  }

  @media screen and (min-width: 1280px) {
    width: 239px;
    height: 201px;
  }
}

.logo-background {
  display: block;

  position: absolute;

  width: 213.97px;
  height: 180px;
  left: -107.49px;
  top: -90px;
  background-image: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);
  border-radius: 90%;

  @media screen and (min-width: 768px) {
    width: 359px;
    height: 302px;
    left: -180px;
    top: -151px;
  }

  @media screen and (min-width: 1280px) {
    width: 477px;
    height: 402px;
    left: -238px;
    top: -201px;
  }
}

.hero-title {
  user-select: none;
  max-width: 212px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  font-family: $font;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    max-width: 353px;
    height: 74px;
    margin-bottom: 27px;

    font-size: 30px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1280px) {
    max-width: 589px;
    height: 122px;
    margin-bottom: 52px;

    font-size: 50px;
    line-height: 1.22;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(11, 11, 11, 0.5)),
    url(../images/mobile/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)
      ),
      url(../images/mobile/hero@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)
      ),
      url(../images/tablet/hero.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url(../images/tablet/hero@2x.jpg);
    }

    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url(../images/desktop/hero.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(11, 11, 11, 0.5),
            rgba(11, 11, 11, 0.5)
          ),
          url(../images/desktop/hero@2x.jpg);
      }
    }
  }
}

.overlay-small {
  position: absolute;

  width: 100%;
  height: 102px;
  left: 0px;
  top: 262px;

  background-image: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0) 0%,
    rgba(14, 14, 14, 0.8) 100%
  );

  @media screen and (min-width: 768px) {
    height: 102px;
    left: 0px;
    top: 262px;

    background-image: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0) 0%,
      rgba(14, 14, 14, 0.8) 100%
    );
  }

  @media screen and (min-width: 1280px) {
    height: 102px;
    left: 0px;
    top: 344px;

    background-image: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0.19) 0%,
      rgba(14, 14, 14, 0.8) 100%
    );
  }
}
