.main-part {
  background-color: black;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding: 52px 15px 60px 25px;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 123px 73px 60px 85px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 133px 161px 80px 173px;
  }
}

.card-container-item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 4px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: calc((100% - 26px) / 3);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 3 * 56px) / 4);
  }
}

.card-container-item:not(:nth-child(2n)) {
  @media screen and (max-width: 767px) {
    margin-right: 4px;
  }
}

.card-container-item:not(:nth-child(3n)) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 13px;
  }
}

.card-container-item:not(:nth-child(4n)) {
  @media screen and (min-width: 1280px) {
    margin-right: 56px;
  }
}

.card-container-item:not(:nth-last-child(-n + 2)) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.card-container-item:not(:nth-last-child(-n + 3)) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 45px;
  }
}
.card-container-item:not(:nth-last-child(-n + 4)) {
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}
