.backdrop {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);

  overflow-y: auto;

  opacity: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 75px 17px 104px 12px;

  border-radius: 150px 0px;
  background: #fff2fd;

  width: 272px;
  min-height: 915px;
  max-height: 915px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 595px;
    min-height: 831px;
    max-height: 831px;
    padding: 28px 17px 56px 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 924px;
    min-height: 1023px;
    max-height: 1023px;
    padding: 62px 30px;
    border-radius: 300px 0px;
  }
}
.container-btn {
  width: 35px;
  height: 35px;
  padding: 10px;

  position: absolute;
  top: 30px;
  right: 30px;

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
    padding: 0;
  }
}

.modal-btn {
  display: block;
  padding: 0px;

  width: 17px;
  height: 17px;

  border: none;
  background: #fff2fd;
  fill: rgba(76, 0, 254, 1);

  &:hover,
  &:focus {
    fill: rgba(220, 86, 197, 1);
    transform: scale(1.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}

.modal-btn-svg {
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-event-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;

  width: 102px;
  height: 102px;
  border-radius: 50%;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
    margin-bottom: 41px;
  }
}

.modal-event-data {
  display: flex;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.modal-poster {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
    margin-right: 30px;
    width: 233px;
    height: 416px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    margin-right: 60px;
    width: 360px;
    height: 641px;
  }
}

.modal-event-data-list {
  margin: 0;
  padding: 0;
}

.modal-data-item:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 10px;
  }
}

.modal-data-item-title {
  @media screen and (max-width: 1279px) {
    margin: 0px 0px 5px;
    color: rgba(220, 86, 197, 1);

    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1280px) {
    margin: 0px 0px 7px;
    color: rgba(220, 86, 197, 1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }
}

.modal-data-item-text {
  margin: 0;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  @media screen and (max-width: 1279px) {
    font-size: 16px;
    line-height: 1.21;
  }
}

.date,
.—Åity-country {
  margin-bottom: 5px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 3px;
  }
}

.price {
  margin-bottom: 20px;
}

.modal-price-barcode {
  margin-right: 13px;
  vertical-align: middle;

  width: 29px;
  height: 19px;

  @media screen and (max-width: 1279px) {
    width: 24px;
    height: 16px;
  }
}

.modal-btn-buy-tickets {
  padding: 0;

  width: 145px;
  height: 40px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 1);
  background: #4c00fe;
  border: none;
  border-radius: 5px;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.btn-tickets:not(:last-child) {
  margin-bottom: 31px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 20px;
  }
}
// .modal-author-conteiner-link {
//   width: 50%;
// }

.modal-author-btn {
  position: absolute;
  top: 84.1%;
  left: 7.2%;
  display: block;
  margin: 0 auto;

  padding: 10px 3px;
  color: rgba(76, 0, 254, 1);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(76, 0, 254, 1);
  border-radius: 5px;
  background-color: #fff2fd;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #4c00fe;
    color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 88.4%;
    left: 28.6%;
    padding: 10px 15px;
  }

  @media screen and (min-width: 1280px) {
    top: 90%;
    left: 37%;
    padding: 10px 15px;
  }
}
