.scroll-hidden {
  overflow-y: hidden;
}

.backdrop {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);

  overflow-y: auto;

  opacity: 1;
  pointer-events: initial;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    overflow-y: hidden;
  }
}

.modal {
  opacity: 1;
  position: relative;
  top: 7%;
  left: 50%;

  transform: translate(-50%, 0%);

  padding: 75px 17px 104px 12px;

  border-radius: 150px 0px;
  background: $modal-background;

  width: 272px;
  min-height: 800px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    min-height: 750px;
    width: 600px;
    padding: 28px 17px 56px 50px;
  }

  @media screen and (min-width: 1280px) {
    min-height: 1023px;
    width: 800px;
    padding: 62px 30px 72px 30px;
    border-radius: 300px 0px;
  }
}

.fadeIn,
.fadeOut {
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fadeIn {
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}

.spacer {
  height: 1px;
  margin: 10% 0 1px 0;
  background: transparent;

  @media screen and (max-width: 767px) {
    margin-top: 15vh;
  }
}

.modal-data-container {
  justify-content: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    align-items: center;
  }
}

.container-btn {
  width: 35px;
  height: 35px;
  padding: 10px;

  position: absolute;
  top: 30px;
  right: 30px;

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
    padding: 0;
  }
}

.modal-btn {
  display: block;
  padding: 0px;
  width: 17px;
  height: 17px;

  border: none;
  background: $modal-background;
  fill: $modal-btn-color;
  transition: transform 1000ms ease-in-out;

  &:hover,
  &:focus {
    fill: $title-text-color;
    cursor: pointer;
  }

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}

.modal-btn-svg {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transitionFunc(transform);
}

.modal-event-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;

  width: 102px;
  height: 102px;
  border-radius: 50%;

  object-fit: cover;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
    margin-bottom: 41px;
  }
}

.modal-event-data {
  width: 100%;
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.modal-poster {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    height: auto;
    align-items: center;
    max-width: 500px;
    margin: 20px auto 0 auto;
    border-radius: 100px 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 600px;
    display: flex;
    height: auto;
    align-items: center;
    margin: 20px auto 0 auto;
    border-radius: 150px 0px;
  }
}

.modal-event-data-list.info {
  @media screen and(min-width:768px) {
    margin: 0 auto;
  }
}
.modal-event-data-list {
  margin: 0;
  padding: 0;
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
  }
}

.modal-data-item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    &-flex-2 {
      display: flex;
      flex-direction: column;
    }
    &-flex-3 {
      display: flex;
      margin-bottom: 20px;
      margin-top: 20px;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  @media screen and (max-width: 767px) {
    &-flex-3 {
      margin: 10px 0 25px 0;
    }
  }
}

.modal-data-item-title.price {
  margin: 0;
  text-align: center;
}

.modal-data-item-flex {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: center;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  &.price-flex {
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
      margin: 5px 0 10px 0;
    }
  }
}

.modal-data-item-title {
  color: $title-text-color;
  margin: 0px 0px 5px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.21;

  @media screen and (min-width: 768px) {
    min-width: 95px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    min-width: 120px;
    margin: 0px 0px 7px;
    color: $title-text-color;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }
}

.modal-data-item-text {
  margin: 0;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  @media screen and (max-width: 1279px) {
    font-size: 16px;
    line-height: 1.21;
  }
}

.date,
.—Åity-country {
  margin-bottom: 5px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 3px;
  }
}

.modal-price-barcode {
  margin-right: 13px;

  width: 29px;
  height: 19px;

  @media screen and (max-width: 1279px) {
    width: 24px;
    height: 16px;
  }
}

.btn-tickets:first-child {
  display: inline-block;
  margin-bottom: 0;
}

.buy-link {
  display: block;
  width: 100%;
  color: $text-color;
}

@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.modal-author-button-container {
  height: 40px;

  display: block;
  margin: 0 auto;

  background: $text-color;
  color: $modal-btn-color;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid $modal-btn-color;
  border-radius: 6px;
  cursor: pointer;
  transform: scale(1);
  transition: transitionFunc(transform);
  min-width: 200px;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transitionFunc(transform);

    @media screen and (max-width: 767px) {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto 0 auto;
    min-width: 200px;
  }

  @media screen and (min-width: 1279px) {
    &:hover,
    &:focus {
      transform: scale(1.1);
      transition: transitionFunc(transform);
    }
  }

  @media screen and(max-width: 768px) {
    max-width: 248px;
  }
}

.modal-buy-button-container {
  margin-left: auto;
  margin-right: auto;

  position: relative;

  width: 145px;
  height: 40px;
  overflow: hidden;
  background: $title-text-color;
  border-radius: 5px;

  button {
    width: 100%;
    height: 100%;
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

    @include button(
      $modal-btn-color,
      'https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png',
      2300%,
      100%,
      none,
      $text-color
    );
    cursor: pointer;
  }
}

.modal-buy-button-container button:disabled {
  background: rgba(102, 102, 102, 0.8);
  cursor: default;
}

@media screen and (min-width: 1280px) {
  .animation {
    -webkit-animation: animationOut 0.7s steps(22) forwards;
    animation: animationOut 0.7s steps(22) forwards;

    &:hover,
    &:focus {
      -webkit-animation: animationIn 0.7s steps(22) forwards;
      animation: animationIn 0.7s steps(22) forwards;
      transform: scale(1.1);
      transition: transitionFunc(transform);
    }
  }
}

@media screen and (min-width: 1280px) {
  .anim {
    transform: scale(1);
    transition: transitionFunc(transform);

    &:hover,
    &:focus {
      transform: scale(1.1);
      transition: transitionFunc(transform);
    }
  }
}

.mas {
  position: absolute;
  color: $text-color;
  text-align: center;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  position: absolute;
  margin-top: 10px;
  overflow: hidden;
}

@keyframes animationIn {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes animationOut {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
