* {
  box-sizing: border-box;
}

.wrapper {
  margin-right: 0;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.wrapper__input {
  padding: 10px 30px;
  width: 270px;
  height: 40px;

  border: none;
  border-radius: 20px;

  color: $form-text-color;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  background-image: url(../images/search-icon.svg);
  background-position: 225px 15px;
  background-repeat: no-repeat;
}

input::placeholder {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: $form-text-color;
}
