.inputs {
  width: 270px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 570px;
  }
}

.wrapper {
  position: relative;
  margin-right: 0;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.wrapper__input {
  user-select: none;
  padding: 10px 70px 10px 30px;
  width: 270px;
  height: 40px;

  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $form-text-color;
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  background-image: url(../images/search-icon.svg);
  background-position: 225px 15px;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.custom-checkbox {
  display: inline-block;
  border: 1px solid #000;
  margin-right: 8px;
  width: 15px;
  height: 15px;
}

.checkbox:checked + .custom-checkbox {
  background-color: yellow;
  border-color: transparent;

  // background-image: url("../images/icon/modal-cheked.svg");
  // background-size: contain;
  // background-origin: border-box;
}

.advanced-search-btn {
  position: absolute;
  top: -135%;
  left: 35%;
  background: none;
  padding: 0;
  border-radius: 40%;
}

.advanced-search-list {
  position: absolute;
  top: -17%;
  background-color: rgb(10, 10, 10);
  color: #fff;
  text-align: center;
}

.advanced-search-item {
  width: 270px;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.wrapper:hover .advanced-search {
  position: absolute;
  top: -40px;
  left: 0;
  display: block;

  width: 100%;
  background-color: #fff;
}

input::placeholder {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: $form-text-color;
}

.country-list {
  user-select: none;
  padding: 10px 60px 10px 30px;
  width: 270px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  border: 0;
  border-radius: 20px;
  color: $form-text-color;
  cursor: pointer;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url(../images/arrow-down.svg);
  background-position: 225px 17px;
  background-repeat: no-repeat;

  &:focus {
    background-image: url(../images/arrow-up.svg);
    background-position: 225px 15px;
    background-repeat: no-repeat;
  }
}

.arrow-down {
  background-image: url(../images/arrow-down.svg);
  background-position: 225px 17px;
}
