.card {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;
    width: 108px;
    height: 101px;
    @media screen and (min-width: 767px) {
      width: 153px;
      height: 143px;
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 9px;
    padding-right: 10px;
  }
  @media screen and (min-width: 767px) {
    padding-top: 13px;
    padding-right: 14px;
  }
}
.image-container {
  @media screen and (max-width: 767px) {
    width: 128px;
    height: 161px;
  }
  @media screen and (min-width: 767px) {
    width: 180px;
    height: 227px;
  }
}
.event-image {
  border-radius: 50px 0px;
  object-fit: cover;
}

.event-title {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: $title-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  @media screen and (max-width: 767px) {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (min-width: 768px) {
    font-size: 15.5px;
    line-height: 1.25;
  }
}
.event-data {
  margin-bottom: 5px;
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  color: $text-color;
  @media screen and (max-width: 767px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.event-location {
  font-family: Montserrat;
  font-style: normal;

  text-align: center;
  color: $text-color;
  font-weight: 600;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
  &::before {
    content: '';
    display: inline-block;
    margin-right: 3px;
    width: 6px;
    height: 9px;
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    @media screen and (min-width: 767px) {
      width: 7px;
      height: 10px;
    }
  }
}
