:root {
  --color: #ffffff;
  --animate-duration: 1.5s;
  --size-modify: 6;
}

.container {
  opacity: 1;
}

.first-visit-container {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 70px;
  height: 35px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 220px;
  }

  @media screen and (min-width: 1280px) {
    top: 300px;
  }
}

.spinner.first-visit {
  top: 100px;
  width: calc(70px * var(--size-modify) / 2);
  height: calc(70px / 2 * var(--size-modify) / 2);

  @media screen and (min-width: 768px) {
    width: calc(70px * var(--size-modify));
    height: calc(70px / 2 * var(--size-modify));
  }
}

.spinner.hidden {
  display: none;
}

.spinner-container {
  margin-bottom: 20px;

  animation-iteration-count: infinite;
}

.dot-pulse.first-visit,
.dot-pulse.first-visit::before,
.dot-pulse.first-visit::after {
  width: calc(10px * var(--size-modify) / 3);
  height: calc(10px * var(--size-modify) / 3);
}

.dot-pulse {
  position: relative;
  left: -9999px;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color);
  color: var(--color);
  box-shadow: 9999px 0 0 -5px var(--color);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color);
  color: var(--color);
}

.dot-pulse::before {
  left: -100%;
  box-shadow: 9984px 0 0 -5px var(--color);
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  left: 100%;
  box-shadow: 10014px 0 0 -5px var(--color);
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px var(--color);
  }
  30% {
    box-shadow: 9984px 0 0 2px var(--color);
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px var(--color);
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px var(--color);
  }
  30% {
    box-shadow: 9999px 0 0 2px var(--color);
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px var(--color);
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px var(--color);
  }
  30% {
    box-shadow: 10014px 0 0 2px var(--color);
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px var(--color);
  }
}
